html, body {
    font-family: 'Roboto', sans-serif;
    background: #f9f9f9;
}

header {
    background: #404040;
    height: 60px;
}


header ul li#logo a {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    font-weight: 400;
    color: white;
    line-height: 30px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background: #EA6A2A;
}

a {
    color: #404040;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #404040;
    text-decoration: none;
}

.table > tbody > tr > th {
    color: #c3c3c3;
    text-transform: uppercase;
    font-weight: 500;
}

.table > tbody > tr:hover {
    background: rgba(64, 64, 64, 0.1);
}

.table > tbody > tr > td {
    padding: 15px 8px;
}

nav.sidebar-left {
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    background: #404040;
}

nav.sidebar-left ul {
    list-style: none;
    padding: 0;
}

nav.sidebar-left ul li {
    background: #337AB7;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

nav.sidebar-left ul li:hover {
    background: #3171ac;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

nav.sidebar-left ul li.active {
    background: #EA6A2A;
}

nav.sidebar-left ul li a {
    display: block;
    padding: 20px 30px;
    color: white;
    text-decoration: none;
}

.container {
    margin-top: 80px;
}

.status {
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.status.status-1 {
    background: greenyellow;
}

.status.status-0 {
    background: indianred;
}

.btn-add {
    color: white;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    font-weight: 700;
    z-index: 2;
}

.btn-add:hover, .btn-add:focus {
    color: white;
}

.btn-add::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #337AB7;
    z-index: -1;
    left: 0;
    top: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .3s all;
}

.btn-add:hover::before {
    background: #EA6A2A;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.container > div {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    -webkit-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 10px rgba(0,0,0,.1);
    box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}