/** Feuille de style FRONT **/

nav {
    width: 100%;
    float: left;
    background: #d9d9d9;
    z-index: 999;
    padding: 10px;
}

nav#menu-principal li:last-child {
    float: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {

}

nav ul li a:hover {

}

.input-group-addon button {
    background: none;
    border: none;
}

.container {
    padding-top: 140px;
}

#sidebar {
 margin-bottom: 25px;
}

#sidebar > div {
    padding: 20px;
    background: #d9d9d9;
}

footer {
    background: #d9d9d9;
    border-top: 1px solid rgba(0, 0, 0, .1);
    float: left;
    width: 100%;
    padding: 10px;
}

footer ul {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
}

footer ul li {
    float: left;
    margin-right: 10px;
}

footer ul li a {
    display: block;
    padding: 5px 10px;
}