/** Feuille de style FRONT **/

nav {
    width: 100%;
    float: left;
    padding: 10px;
    background: #d9d9d9;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: fixed;
    z-index: 999;
}

nav#menu-principal {
    top: 51px;
}

nav#menu-principal li:last-child {
    float: right;
}

nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
    margin-right: 10px;
}

nav ul li a {
    display: block;
    padding: 5px 10px;
}

.container {
    padding-top: 120px;
}

#sidebar {

}
#sidebar > div {
    padding: 20px;
    background: #d9d9d9;
}

footer {
    background: #d9d9d9;
    border-top: 1px solid rgba(0, 0, 0, .1);
    float: left;
    width: 100%;
    padding: 10px;
}

footer ul {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
}

footer ul li {
    float: left;
    margin-right: 10px;
}

footer ul li a {
    display: block;
    padding: 5px 10px;
}